body {
	/**
	background: url(../../../picture/UserFunction/UserCollection/body.jpg);
	**/
	background-color: #e6e6e6;
}

.boss {
	position: relative;
	width: 650px;
	height: 650px;
	top: 50%;
}

.code {
	color:white;
	width: 800px;
	background-color: #000;
	
}

.Result {
		color:white;
	
	width: 800px;
	background-color: #000;
}